altgraph==0.17.3
asgiref==3.5.0
Babel==2.11.0
beautifulsoup4==4.11.2
blinker==1.6.2
blis==0.7.9
catalogue==2.0.8
certifi==2021.10.8
charset-normalizer==2.0.10
cli-helpers==2.2.1
click==8.1.6
colorama==0.4.6
confection==0.0.4
configobj==5.0.6
coverage==7.3.0
crypto==1.4.1
cycler==0.11.0
cymem==2.0.7
dill==0.3.6
distlib==0.3.4
Django==4.0.1
dnspython==2.4.1
docker==5.0.3
email-validator==2.0.0.post2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
filelock==3.4.2
Flask==2.3.2
Flask-BabelEx==0.9.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-paginate==2022.1.8
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==1.1.1
fonttools==4.28.5
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jose==1.0.0
kiwisolver==1.3.2
langcodes==3.3.0
libpcap==1.11.0b4
libusb==1.0.24b3
litecli==1.7.0
llvmlite==0.39.1
macholib==1.16.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.1
mdurl==0.1.2
modulegraph==0.19.3
mrcnn==0.2
murmurhash==1.0.9
Naked==0.1.31
networkx==3.1
numba==0.56.4
numpy==1.22.1
packaging==21.3
passlib==1.7.4
pathy==0.10.1
pick-colour-picker==1.0
Pillow==9.0.0
pkg-about==1.0.4
platformdirs==2.4.1
plotly==5.5.0
preshed==3.0.8
prettytable==3.5.0
prompt-toolkit==3.0.26
py2app==0.28.5
pydantic==1.10.4
pygame==2.1.2
Pygments==2.14.0
PyOpenGL==3.1.5
pyparsing==3.0.7
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PySDL2==0.9.11
pysdl2-dll==2.0.20
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.27.1
rich==13.3.2
scikit-learn==1.1.2
scipy==1.9.2
shellescape==3.8.1
six==1.16.0
smart-open==6.3.0
soupsieve==2.4
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
speaklater==1.3
sqlparse==0.4.2
srsly==2.4.5
tabulate==0.8.9
taichi==1.4.1
tellopy==0.6.0
temp-email-validator==0.1
tenacity==8.0.1
thinc==8.1.7
threadpoolctl==3.1.0
tkcalendar==1.6.1
tqdm==4.64.1
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.8
validate-email==1.3
virtualenv==20.13.0
wasabi==1.1.1
wcwidth==0.2.5
websocket-client==1.3.1
Werkzeug==2.3.6
WTForms==3.0.1
wxPython==4.1.1
zipp==3.7.0
